body {
  font-family: arial, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

h1, h2, h3 {
  background-color: green;
  color: white;
}

h1 {
  text-align: center;
}

.note {
  background-color: #FFFFCC;
  color: black;
  font-size: smaller;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px inset;
  padding: 2px 6px;
}

pre {
  background-color: #F0F0F0;
  color: black;
  border: 3px inset;
  padding: 4px;
  overflow: auto;
}
